<%- include('./inc/header') %>

<h1>thêm project</h1>

<div class="container">
    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
          <label  class="form-label">tên work</label>
          <select name="work" class="form-select" aria-label="Default select example" disabled>
            <option selected>Open this select menu</option>
            <% work.forEach(obj => { 
              let selected = '  '
              if (String(obj._id) == String( user.id_work)) {
                selected = ' selected '
              }
              %>
                <option <%= selected %> value="<%= obj._id %>"><%= obj.name %></option>
            <% }); %>
          </select>
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">tên project</label>
          <input type="text" class="form-control" name="name" value="<%= user.name %>" disabled>
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">mô tả</label>
          <input type="text" class="form-control" name="description" value="<%= user.name %>">
        </div>

        <div class="mb-3" >
          <label  class="form-label">trạng thái</label>
          <select name="status" class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="0">Chưa hoàn thành</option>
            <option value="1">hoàn thành</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="formFile" class="form-label">image</label>
          <input name="image" class="form-control" type="file" id="formFile" disabled>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

<%- include('./inc/footer') %>